extends ../layout

block content
  h1= title
  p Seja bem-vindo ao portal de #{title}
  hr
  br
  br
  a(href="/") Principal
  br
  a(href="/ongs/novaong") Cadastrar ONG
  br
  a(href="/ongs/onglist") ONG's Cadastradas
